<nav>
  <% if (user) { %>
    <a href="/recipes">View all recipes</a>
    <a href="/ingredients">View all ingredient</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
      <% } %>
</nav>