<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit <%= Ingredient.name %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Edit a ingredient!</h1>

    <form action="/ingredients/<%= Ingredient._id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= Ingredient.name %>" />
      <br>
      <button type="submit">Edit ingredient</button>
    </form>
</body>

</html>