<!-- views/listings/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All recipess</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Here's all the recipess</h1>
    <a href="/recipes/new">Add a New recipes</a>

    <ul>
      <% Recipe.forEach((recipe)=> { %>
        <li>
          The recipes name is <%= recipe.name %> owned by <%= recipe.owner.username %>.
              <a href="/recipes/<%= recipe._id %>">View more details.</a>
        </li>
        <% }) %>
    </ul>
</body>

</html>